<div class="container-fluid menubar">
    <img src="assets/img/logo3.png" style="width:100%;">
  <div class="">
    <button class="btn-hidden" id="btn-hidden" (click)="ShowHidden()">
      <i class="fas fa-bars"></i> 
    </button>
   
    <div class="row">
      <div id="hidden" class="hidden-sm list-link {{themecolor}}">
        <ul>
          <li>
            <a href="" >Dashboard</a>
          </li>
          <li>
            <a href="">Departmemt</a>
          </li>
          <li>
            <a href="">Employee</a>
          </li>

        </ul>
      </div>
    </div>
  </div>


</div>